.header {
	position: relative;
	background-image: url(../img/devices.png),
					  url(../img/header_bg.png);
	background-repeat: no-repeat;
	background-size: 50%, 100% 60%;
	background-position: right top, center top;
	color: white;

	a {
		color: white;
		text-transform: uppercase;
		transition: opacity 0.2s;

		&:hover {
			opacity: 0.8;
			transition: opacity 0.2s;
		}

	}

	.header__flying-cubes {
		position: absolute;
		width: 100%;
		height: 500px;
	}

	.header__cube {

		&:nth-of-type(3) {
			top: 53%;
			left: 11%;
		}

		&:nth-of-type(4) {
			top: 7%;
			left: 43%;
		}

		&:nth-of-type(5) {
			top: 41%;
			left: 49%;
		}

		&:nth-of-type(6) {
			top: 120px;
			left: 56%;
		}

	}

}

.header__nav {
	padding-top: 40px;
	letter-spacing: 1.6px;

	.header__nav-menu {
		display: flex;
		align-items: center;

		a {
			margin-right: 40px;

			&:last-child {
				margin: 0;
			}

		}

	}

}

.header__desc {
	max-width: 685px;
	width: 100%;
	margin-top: 50px;

	.header__desc-text {

		h1 {
			max-width: 400px;
			margin: 0;
			font-size: 70px;
			text-shadow: -5px 1px 10px rgba(0, 0, 0, 0.32);
			line-height: 68px;
			text-transform: uppercase;
		}

		h2 {
			margin: 0;
			font-family: "Kensington", sans-serif;
			font-weight: normal;
			font-size: 99px;
			text-shadow: 0 0 10px rgba(255, 255, 255, 0.32);
			letter-spacing: 1.8px;
		}

		p {
			letter-spacing: 0.3px;
			line-height: 18px;

			&:last-child {
				font-weight: 700;
			}

		}

	}

	.header__desc-buttons {
		margin-top: 35px;

		a {
			padding: 15px 35px;
			border-radius: 26px;
			letter-spacing: 1.4px;
			text-transform: uppercase;
		}
		
		a:first-child {
			margin-right: 20px;
			box-shadow: 0 0 10px rgba(255, 255, 255, 0.32), 0 0 7px rgba(255, 255, 255, 0.35);
			background-color: #ffffff;
		}

		a:last-child {
			border: 2px solid #f6f6f6;
		}

	}

}

.work {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 200px;

	.work__title {
		font-size: 36px;
		text-align: center;
		letter-spacing: 0.34px;
	}

	.work__container {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}


	p {
		font-weight: 300;
		color: black;
	}

	h3 {
		font-weight: 900;
		text-transform: uppercase;
	}

}


.about__work {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 600px;	

	.about__figures {
		position: relative;
		width: calc(100% - 270px);

		img{ 
			position: absolute;
		}

	}

	.about__work-desk {
		max-width: 575px;
		width: 100%;
	}

	.about__work-way {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

}

.about__skills {
	max-width: 410px;
	width: 100%;
}

