.portfolio {
	position: relative;
	padding-top: 100px;
	background-color: #f9f8f8;
	z-index: -2;

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	h2 {
		margin: 0;
		text-transform: uppercase;
	}
}

.portfolio__my {
	margin-top: 50px;
}

.portfolio__filter {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	.portfolio__buttons {
		.filterBtn {
			position: relative;
			margin-right: 10px;
			padding: 5px 20px;
			background: #f9f8f8;
			color: #9fa3a7;
			border-radius: 17px;
			border: none;
			font-weight: 700;
			text-transform: uppercase;
			cursor: pointer;
			transition: all 0.2s;

			&:last-chlid {
				margin: 0;
			}

			&:hover {
				color: black;
				opacity: 0.8;
				transition: all 0.2s;
			}
		}

		.activeBtn {
		    position: relative;
			padding: 5px 20px;
		    background: #f9f8f8;
		    border-radius: 17px;
		    text-align: center;
		    color: black;

		}

		.activeBtn::before {
		    content: '';
			background-image: linear-gradient(to right, #6331c8 0%, #c52666 100%);
		    position:absolute;
		    top: -3px;
		    left: -3px;
		    width: 100%;
		    height:100%;
		    padding: 3px;
			border-radius: 17px;
		    z-index:-1;
		}



	}

}



.portfolio__list {
	column-count: 3;
}