.portfolio {
	position: relative;
	padding-top: 100px;
	padding-bottom: 50px;
	background-color: #f9f8f8;
	z-index: -2;

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	h2 {
		margin: 0;
		text-transform: uppercase;
	}
}

.portfolio__my {
	margin-top: 50px;
}

.portfolio__filter {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

    @include breakpoint(max-width 1200px) {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .portfolio__buttons {
        display: flex;

        @include breakpoint(max-width 1200px) {
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }

}

.portfolio__list {
    width: 100%;
	margin-top: 40px;
	column-count: 3;
	column-gap: 20px;
	text-align: center;
	text-transform: uppercase;

    @include breakpoint(max-width 1200px) {
        column-count: 2;
        column-gap: 10px;
    }

    @include breakpoint(max-width 768px) {
        column-count: 1;
    }

	h4 {
		margin: 0;
		margin-top: 20px;
		font-weight: 700;
		font-size: 23px;
		letter-spacing: 2.2px;
		color: #212121;
	}

	p {
		margin: 0;
		margin-top: 10px;
		color: #9fa3a7;
		letter-spacing: 1.5px;
	}

	.portfolio__block {
        display: flex;
        flex-direction: column;
		margin-top: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

		&:first-child {
			margin: 0;
		}
	}
}
