html{
    width: 100%;
}

body{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    text-align: left;
    vertical-align: baseline;
    font-family: 'Lato', sans-serif;
    z-index: 1;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    &:hover, &:focus, &:active{
        text-decoration: none;
    }
}

input{
    outline: none;
    &:hover, &:focus, &:active{
        outline: none;
    }
}

textarea{
    outline: none;
    &:hover, &:focus, &:active{
        outline: none;
    }
}

* {
    box-sizing: border-box;
}

.cube {
    position: absolute;
}

.fs12 {
    font-size: 12px;
}

.fs14 {
    font-size: 14px;
}

$gradient: linear-gradient(57deg, #c52666 0%, #6331c8 100%);

@mixin gradient {
    background: linear-gradient(57deg, #6331c8 0%, #c52666 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient {
    @include gradient;
}
