html{
    width: 100%;
}

body{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    text-align: left;
    vertical-align: baseline;
    font-family: 'Lato', sans-serif;
    z-index: 1;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    &:hover, &:focus, &:active{
        text-decoration: none;
    }
}

input{
    outline: none;
    &:hover, &:focus, &:active{
        outline: none;
    }
}

textarea{
    outline: none;
    &:hover, &:focus, &:active{
        outline: none;
    }
}

* {
    box-sizing: border-box;
}

.cube {
    position: absolute;

    @include breakpoint(max-width 1200px) {
        display: none;
    }
}

.fs12 {
    font-size: 12px;
}

.fs14 {
    font-size: 14px;
}

$gradient: linear-gradient(57deg, #c52666 0%, #6331c8 100%);

@mixin gradient {
    color: #232323;
    background: linear-gradient(57deg, #6331c8 0%, #c52666 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient {
    @include gradient;
}

.purple {
    color: #6331c8 !important;
}

.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
    text-indent: -9999px;
    background: url('../img/totop.png') no-repeat;
    background-position: center -57px;
    border-radius: 50px;
    opacity: 0.5;

    &:hover {
        background-position: center -6px;
    }

    @include breakpoint(max-width 576px) {
        right: 20px;
        bottom: 15px;
    }
}