.filterBtn {
    position: relative;
    margin-right: 10px;
    padding: 5px 20px;
    background: #f9f8f8;
    color: #9fa3a7;
    border-radius: 17px;
    border: 1px solid #f9f8f8;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s;
    &:last-chlid {
        margin: 0;
    }
    &:hover {
        background: #f9f8f8;
        color: #212121;
        transition: all 0.2s;
    }
}
.activeBtn, .moreBtn {
    position: relative;
    padding: 5px 20px;
    background: #f9f8f8;
    border-radius: 17px;
    text-align: center;
    color: #212121;
}
.activeBtn::before,
.moreBtn::before {
    content: '';
    background-image: linear-gradient(to right,#6331c8 0%,#c52666 100%);
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    padding: 3px;
    border-radius: 17px;
    z-index: -1;
}

.moreBtn::before {
	 background-image: linear-gradient(to right,#c52666 0%, #6331c8 100%);
}

.moreBtn {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 5px 50px;
	background-color: #f9f8f8;
	border-radius: 17px;
	border: 2px solid #f9f8f8;
	cursor: pointer;
    transition: opacity 0.2s;
	&:hover {
        span {
            opacity:0.7;
            transition: opacity 0.2s;
        }
	}

	span {
		background: linear-gradient(57deg, #c52666 0%, #6331c8 100%);
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
	}
}
