.container {
    max-width: 1170px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    position: relative;

    @include breakpoint(max-width 1200px) {
        max-width: 960px;
    }

    @include breakpoint(max-width 992px) {
        max-width: 730px;
    }

    @include breakpoint(max-width 768px) {
        max-width: 540px;
    }

    @include breakpoint(max-width 576px) {
        max-width: 95vw;
    }
}